*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: "gilroy";
}


#main{
    background: linear-gradient(rgb(230, 156, 174), rgb(228, 202, 232));
    width: 100vw;
    height: 100vh;
}

#container{
    width: 25vw;
    height: 72vh;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 3px solid #000;
    transform: translate(-50%, -50%);
    /* background-color: rgb(65, 13, 13); */
    border-radius: 5px;
}

#display{
    position: relative;
    top: 4%;
    border: 3px solid rgb(39, 8, 8);
    left: 50%;
    transform: translate(-50% , 0);
    width: 90%;
    height: 15%;
    border-radius: 50px;
    background-color:rgb(228, 179, 179);
}

.buttons{
    border: 3px solid rgb(39, 8, 8);
    position: relative;
    top:8%;
    left: 50%;
    transform: translate(-50% , 0);
    width: 90%;
    height: 75%;
    padding: 20px;
    background-color: rgb(255, 188, 194);
    display: grid;


}

.buttons #value{
    position: relative;
    grid-column: span 4;
}


#display>h1{
    position: relative;
    text-align: right;
    align-items: center;
    justify-content: right;
    padding: 20px;
    display: flex;
    user-select: none;
}


.buttons>span{
    position: relative;
    padding: 10px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.721);
     margin: 10px;
     cursor: pointer;
     user-select: none;
     min-width: 40px;
    border-radius: 50px;


}

span{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

 
#clear{
    grid-column: span 2;
    background-color: rgb(72, 155, 174);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(35, 35, 35);
}

#plus{
    grid-row: span 2;
    background-color: rgb(163, 120, 209);
    color: rgb(21, 21, 21);
    border: 2px solid rgb(41, 40, 40);
}




@media  only screen and (max-width: 600px) {
    #container{
        width: 55vw;
        height: 70vh;
    }

    #display>h1{
        font-size: 6.5vw;
    }

#display{
    width: 49.4vw;
    height: 11vh;
}

.buttons{
    width: 49.4vw;
    height: 50vh;

}

.buttons>span{
    position: relative;
    padding: 2vw;
    box-shadow:  5px 5px 12px 10px rgba(55, 52, 52, 0.1),
     -5px -5px 10px #fff;
     margin: 1.1vw;
     cursor: pointer;
     user-select: none;
     min-width: 8vw;
}

}




 

@media  only screen and (min-width: 350px) and (max-width: 500px) {
    #container{
        width:80vw;
        height: 70vh;
        left: 48%;
    }

    #display>h1{
        font-size: 6.5vw;
    }

#display{
    width: 70vw;
    height: 11vh;
}

.buttons{
    width: 70vw;
    height: 50vh;
    border-radius: 10px;
}

.buttons>span{
    position: relative;
    padding: 2vw;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.1),
     -5px -5px 10px #fff;
     margin: 1.1vw;
     cursor: pointer;
     user-select: none;
     min-width: 8vw;
}

}